Repository Strappazzon/PD2-SuperBLT-Hasher, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, dependencies, documentation, ui, website

Add automatic theme switch
  src/gui/My Project/Resources.Designer.vb
  src/gui/My Project/Resources.resx
  src/gui/Resources/clipboard_dark.png
  src/gui/Resources/drop_dark.png
  src/gui/Resources/update_dark.png
  src/gui/SuperBLTHasher.UI/Form1.Designer.vb
  src/gui/SuperBLTHasher.UI/Form1.vb
  src/gui/SuperBLTHasher.Utils/Theme.vb
  src/gui/SuperBLTHasher.vbproj
Labels: ui

Improve updater
  src/gui/My Project/AssemblyInfo.vb
  src/gui/SuperBLTHasher.UI/Form1.Designer.vb
  src/gui/SuperBLTHasher.UI/Form1.vb
  src/gui/SuperBLTHasher.Utils/Updater.vb
Labels: ui

Make the form not resizable
  src/gui/SuperBLTHasher.UI/Form1.Designer.vb
Labels: ui

Fix exception when trying to copy a null value to clipboard
  src/gui/SuperBLTHasher.UI/Form1.vb
  src/gui/SuperBLTHasher.Utils/Hash.vb
Labels: ui

Bump version code
  version
Labels: none

docs: Remake website
  .editorconfig
  .gitattributes
  .github/README.md
  docs/.nojekyll
  docs/.ruby-version
  docs/.tool-versions
  docs/404.html
  docs/404.md
  docs/Gemfile
  docs/Gemfile.lock
  docs/README.md
  docs/_components/header.html
  docs/_config.yml
  docs/_layouts/404.html
  docs/_layouts/default.html
  docs/_sass/_typography.scss
  docs/_sass/pages/_error.scss
  docs/_sass/pages/_home.scss
  docs/_sass/vendors/_bootstrap-grid.scss
  docs/_sass/vendors/_gardevoir.scss
  docs/_templates/home.html
  docs/assets/css/error.scss
  docs/assets/css/home.scss
  docs/assets/img/favicon.png
  docs/assets/img/ogimage.png
  docs/assets/img/screenshot.png
  docs/assets/webfonts/FjallaOne-Regular.woff2
  docs/index.md
  docs/static/css/404.scss
  docs/static/css/styles.scss
  docs/static/webfonts/Checkpoint-Charlie.ttf
  docs/static/webfonts/FjallaOne-Regular.woff2
Labels: dependencies, documentation, website

Update changelog
  CHANGELOG.txt
Labels: none

Remove scripts
  .gitattributes
  script/build.ps1
  script/release.ps1
Labels: none

cicd: Update dependencies
  .github/workflows/build-website.yml
Labels: cicd

docs: Add `site.url`
  docs/_config.yml
Labels: website

docs: Fix og image URL
  docs/_templates/home.html
Labels: website

.github/labeler.yml:

cicd:
  - .github/workflows/**

dependencies:
  - docs/.ruby-version
  - docs/Gemfile
  - docs/Gemfile.lock
  # - src/cli/SuperBLTHasherCLI.csproj
  # - src/gui/SuperBLTHasher.vbproj

documentation:
  - .github/CONTRIBUTING.md
  - .github/README.md
  - docs/README.md

ui:
  - src/gui/SuperBLTHasher.UI/**
  - src/gui/My Project/Resources.Designer.vb
  - src/gui/My Project/Resources.resx

website:
  - docs/**
